# ===============================
# Ultra-Light Config for Low Resources
# ===============================
global:
  storageClass: "standard"

grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin123
  service:
    type: NodePort
    nodePort: 32000
  persistence:
    enabled: false
  resources:
    requests:
      memory: 128Mi
      cpu: 50m
    limits:
      memory: 256Mi
      cpu: 200m

prometheus:
  enabled: true
  service:
    type: NodePort
    nodePort: 30090
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    storageSpec:
      emptyDir: {}
    retention: 6h
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 300m
    additionalScrapeConfigs:
      - job_name: "jenkins-external"
        metrics_path: /prometheus
        scrape_interval: 30s
        static_configs:
          - targets:
              - 192.168.1.32:8080
    additionalPrometheusRules:
      - name: jenkins-alerts
        groups:
          - name: jenkins.rules
            rules:
              - alert: JenkinsBuildFailed
                expr: jenkins_job_builds_failed_total > 0
                for: 2m
                labels:
                  severity: critical
                annotations:
                  summary: "Jenkins Build Failed"
                  description: "Jenkins build failed."

nodeExporter:
  enabled: false

kubeStateMetrics:
  enabled: true


alertmanager:
  enabled: true
  alertmanagerSpec:
    configSecret: alertmanager-custom

